{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "printWidth": 100,
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^pages/(.*)$",
    "^components/(.*)$",
    "^types/(.*)$",
    "^services/(.*)$",
    "^utils/(.*)$",
    "^styles/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
